.Dashboard {
}

.dashboard__header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: var(--whiteBlue);
	height: 25vh;
	padding: 20px;
	color: white;
}

.dashboard__content {
	background: white;
	height: 50vh;
	padding: 20px;
}

.dashboard__functions {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.dashboard__title {
	font-size: 3rem;
	font-family: 'Akademie-Bold', sans-serif;
	color: #004357;
	margin-right: 400px;
}

.btn__add {
	width: 200px;
	margin: 0 10px;
	padding: 9px;
	text-decoration: none;
	color: var(--lightBlue);
	background: var(--mainBlue);
	border: none;
	border-radius: 5px;
	font-family: 'Akademie-Medium', sans-serif;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
}

.btn__add:hover {
	cursor: pointer;
	color: white;
	background: var(--orange);
}

.new__form {
	padding: 20px;
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	background: var(--mainBlue);
	border-radius: 5px;
	margin-bottom: 10px;
}

.new__form-title {
	margin: 0;
	margin-bottom: 20px;
	font-family: 'Akademie-Bold', sans-serif;
	font-size: 1.5rem;
	color: var(--lightBlue);
}

.new__form input {
	display: block;
	width: 600px;
	padding: 9px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Akademie-Light', sans-serif;
	color: white;
	background: var(--lightBlue);
	font-size: 1.2rem;
	text-decoration: none;
	border: none;
	border-radius: 5px;
}

.new__form span {
	font-family: 'Akademie-Light', sans-serif;
	color: white;
	font-size: 1.2rem;
}
