.header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background: #004357;
	font-family: "Akademie", sans-serif;
	height: 6vh;
	padding: 8px 16px;
}

.header__link {
	text-decoration: none;
	display: inline-block;
	color: #4badbd;
	font-weight: bold;
	margin-right: 50px;
}

.header > div {
}

.nav {
}

.nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__item {
	display: inline-block;
	margin: 0 16px;
}

.nav__link {
	text-decoration: none;
	color: #4badbd;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 3px;
	transition: all 0.2s ease-in-out;
}

.nav__link:hover,
.nav__link:active {
	color: white;
	border-bottom: 1px solid #f8dc53;
}
