.header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	background: #176c89;
	padding: 8px 16px;
}

.header__link {
	text-decoration: none;
	display: inline-block;
	color: white;
	font-weight: bold;
}

.header > div {
}

.nav {
}

.nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__item {
	display: inline-block;
	margin: 0 16px;
}

.nav__link {
	text-decoration: none;
	color: #da532c;
	font-weight: bold;
	padding: 3px;
}

.nav__link:hover,
.nav__link:active {
	color: white;
}
