.exhibition__title {
	color: var(--orange);
	font-size: 2.5rem;
	margin: 0;
	font-family: 'Akademie-Bold', sans-serif;
}

.exhibition__description {
	font-size: 1.2rem;
	color: var(--mainBlue);
	font-family: 'Akademie-Light', sans-serif;
}

.exhibition__image {
}

.exhibition__votes {
	font-size: 1rem;
	font-family: 'Akademie-Bold', sans-serif;
}
.slide-container {
	width: 70%;
	margin: auto;
}

h3 {
	text-align: center;
}

.each-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 250px;
}

.each-fade {
	display: flex;
}

.each-fade .image-container {
	width: 75%;
	overflow: hidden;
}

.each-fade .image-container img {
	width: 100%;
}

.each-fade h2 {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: #adceed;
}
