.StatsCard {
	font-family: "Akademie", sans-serif;
	background: white;
	color: #004357;
	height: 200px;
	width: 300px;
	border-radius: 10px;
	padding: 20px;
	display: inline-block;
	margin: 20px;
	box-shadow: 0 5px 10px black;
}

.stats__content {
	height: 100%;
}

.stats__title {
	font-family: "Akademie-Bold", sans-serif;
	font-size: 1.2rem;
	margin: 10px 0;
}
