@font-face {
	font-family: "Akademie-Black";
	src: url("./assets/fonts/Akademie-Std-Black.otf");
}

@font-face {
	font-family: "Akademie-Bold";
	src: url("./assets/fonts/Akademie-Std-Bold.otf");
}

@font-face {
	font-family: "Akademie-Light";
	src: url("./assets/fonts/Akademie-Std-Light.otf");
}

@font-face {
	font-family: "Akademie-Medium";
	src: url("./assets/fonts/Akademie-Std-Medium.otf");
}

@font-face {
	font-family: "Akademie";
	src: url("./assets/fonts/Akademie-Std.otf");
}

html,
body {
	margin: 0;
}
