.Login {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.form__wrapper {
	margin-top: 300px;
	padding: 3em;
	background: lightgray;
	border-radius: 10px;
}

.form__login {
	display: block;
}

.form__input {
	display: block;
	padding: 9px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 10px;
}

.form__button {
	display: block;
	padding: 9px;
	text-decoration: none;
	color: white;
	background: #424242;
	border: 1px solid black;
	border-radius: 10px;
}

.form__button:hover {
	cursor: pointer;
	color: white;
	background: pink;
	border: 1px solid red;
}
